<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Descriptin:</strong>
  <%= @role.descriptin %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
